body {
  background-color: #EAF6F6;
}
hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  height: 0px;

}
img:hover{
  background-color: red;
}
img {
  height: 180px;
}
h1{
  color: #66BFBF;
}
h2{
  color: #22A39F;
}
h3{
  color: #59C1BD;
}
